* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.navigator-menu {
  height: 5%;
}

.search-container {
  position: relative;
  padding: 5px;
}

.row {
  margin: auto;
  padding: 15px 10px;
  width: 90%;
}

.heading {
  font-weight: 400;
  font-size: 30px;
}

.input-form {
  border: 1px solid #eee;
  max-width: 100%;
  display: inline-flex;
}

.search {
  margin-left: 15px;
  height: 40px;
  width: 600px;
  border: none;
  outline: none;
}

.search-button {
  border: none;
  border-left: 1px solid #eee;
  padding: 12px 50px;
  background-color: white;
  outline: none;
}

.search-button:hover {
  cursor: pointer;
}

.frame-set {
  overflow-y: auto;
  margin: 15px 0;
  padding: 20px;
}

.companies {
  padding: 5px;
  float: left;
  width:34%;
}

.company-items {
  height: 80%;
  overflow-y: auto;
}

.org-head-link {
  color: black;
  text-decoration: none;
}

.items {
  padding: 15px;
  display: flex;
}

.org-logo-l {
  border-radius: 100px;
  margin: 5px;
  height: 60px;
  width: 60px;
}

.org-some-info {
  margin-top: 2%;
  margin-left: 2px;
}

.list-org-head {
  font-size: 100%;
}

.list {
  font-size: 75%;
}

.pages {
  margin: 10px 0;
  width: 100%;
  display: flex;
}

.page-no {
  padding: 18px;
  font-size: 12px;
}

.page-items {
  padding: 5px;
}

.page-link {
  text-decoration: none;
  color: black;
  font-size: small;
}

.page-list {
  padding: 5px 10px;
  font-size: 20px;
  border: 1px solid #eee;
  display: inline-table;
}

.page-list:hover {
  cursor: pointer;
}

.company {
  height: 80%;
  overflow: auto;
  width: 65%;
  margin: 5px;
  padding: 10px 30px;
}

.org-detail-logo {
  margin: 3% 2%;
  float: left;
}

.organization {
  width: 90%;
  margin: 2%;
}

.org-info {
  margin-top: 20px;
  display: flex;
}

.left-list {
  width: 50%;
}

.list-item {
  padding: 10px 10px 5px 0;
}

.desc-heading {
  margin-top: 10%;
}

.about-head {
  padding-left: 35%;
}

.desc {
  margin-top: 25px;
}

.footer {
  position: relative;
}

.website-info, .info-list, .head {
  padding: 5px;
}

.website-info {
  margin: 2% 22% 5%;
}

.head {
  font-size: inherit;
}

.website-logo {
  float: left;
}

.logo-img {
  height: 120px;
  width: 210px;
}

.columns {
  margin: 0 5%;
  padding: 10px 15px;
  display: inline-grid;
}

.footer-list {
  padding: 1px;
  list-style: none;
}

.footer-link {
  color: black;
  font-weight: 300;
  text-decoration: none;
}
