{% block companies %}
<div class="companies">
  <div class="company-items">
    {% for org in orgs %}
    {% if search %}
    <a href="/?keyword={{ search }}&page={{ current_page }}&id={{ org.id }}" class="org-head-link">
    {% else %}
    <a href="/?page={{current_page}}&id={{org.id}}" class="org-head-link">
      {% endif%}
        <div class="items">
          <div class="org-logo">
            <img src="{{ org.logo_url }}" class="org-logo-l">
          </div>

          <div class="org-some-info">
            <div class="org-name">
              <h2 class="list-org-head"> {{ org.name }} </h2>
            </div>

            <div class="org-some-info">
              <div>
                {% if org.industry or org.type %}
                <div class="list">
                  <span> Size: {{ org.size }} </span>
                </div>

                <div class="list">
                  <span> Industry: {{ org.industry }} </span>
                </div>
                {% else %}
                <div class="list">
                  <span> {{org.description if org.description|length <= 80 else org.description[:80] + '...'}} </span>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
    </a>
    {% endfor %}
  </div>

  <div class="pages">
    <div class="page-no">
      <span> page {{ current_page }} of {{ pages }} </span>
    </div>

    <div class="next-pages">
      <div class="page-items">
        {% if current_page != 1 %}
        {% if search %}
        <a href="/?keyword={{ search }}&page={{current_page - 1}}" class="page-link"><div class="page-list"><</div></a>
        {% else %}
        <a href="/?page={{ current_page - 1}}" class="page-link"><div class="page-list"><</div></a>
        {% endif %}
        {% endif %}

        {% if current_page + 1 <= pages %}
        {% if search %}
        <a href="/?keyword={{ search }}&page={{ current_page + 1}}" class="page-link"><div class="page-list">{{ current_page + 1 }}</div></a>
        {% else %}
        <a href="/?page={{ current_page + 1}}" class="page-link"><div class="page-list">{{ current_page + 1 }}</div></a>
        {% endif %}
        {% endif %}

        {% if current_page + 2 <= pages %}
        {% if search %}
        <a href="/?keyword={{ search }}&page={{ current_page + 2}}" class="page-link"><div class="page-list">{{ current_page + 2 }}</div></a>
        {% else %}
        <a href="/?page={{ current_page + 2}}" class="page-link"><div class="page-list">{{ current_page + 2 }}</div></a>
        {% endif %}
        {% endif %}

        {% if current_page + 3 <= pages %}
        {% if search %}
        <a href="/?keyword={{ search }}&page={{ current_page + 3}}" class="page-link"><div class="page-list">{{ current_page + 3 }}</div></a>
        {% else %}
        <a href="/?page={{ current_page + 3}}" class="page-link"><div class="page-list">{{ current_page + 3 }}</div></a>
        {% endif %}
        {% endif %}

        {% if current_page + 4 <= pages %}
        {% if search %}
        <a href="/?keyword={{ search }}&page={{ current_page + 4}}" class="page-link"><div class="page-list">{{ current_page + 4 }}</div></a>
        {% else %}
        <a href="/?page={{ current_page + 4}}" class="page-link"><div class="page-list">{{ current_page + 4 }}</div></a>
        {% endif %}
        {% endif %}

        {% if current_page + 1 <= pages %}
        {% if search %}
        <a href="/?keyword={{ search }}&page={{ current_page + 1}}" class="page-link"><div class="page-list">></div></a>
        {% else %}
        <a href="/?page={{ current_page + 1}}" class="page-link"><div class="page-list">></div></a>
        {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock companies %}
